---
import Title from "../../components/shared/Title.astro";
import Layout from "../../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import Bruno from "@assets/Bruno.jpg";
---

<Layout title="About | Bruno Sfeir">
  <div class="wrapper flex flex-col">
    <div class="mx-auto p-4 text-lg text-justify leading-relaxed">
      <div class="grid md:grid-cols-2 gap-10 justify-center items-center">
        <div class="flex flex-col gap-4">
          <p>
            The work of Bruno Sfeir emerges as a subtle dance between the
            visible and the intangible, a profound exploration of the "inner
            sensations" that nourish human consciousness. Sfeir captures and
            materializes the essence of inner experience, transforming it into
            compositions that radiate a unique balance and harmony. Each stroke
            is an echo of his inner world, a window into a universe where order
            and serenity intertwine.
          </p>
          <p>
            Sfeir's creative process is a journey in two directions: an
            immersion into his internal landscape and an interaction with the
            external world. Internally, his meditative practice, anchored in
            conscious breathing, awakens a "Presence" that guides and sustains
            the creative dynamic. Externally, he imprints the canvas with the
            mark of his intuitions, each brushstroke reflecting the connection
            between his inner and outer worlds.
          </p>
          <p>
            Sfeir's technical mastery and solid artistic training allow him to
            express himself with a refined, sophisticated, and subtle language.
          </p>
        </div>

        <div class="image-container">
          <Image src={Bruno} alt="Bruno Sfeir" class="w-full h-2/4" />
        </div>
      </div>
    </div>
  </div>
</Layout>
