this is a web protfolio for the artist Bruno sfeir.

Bruno Sfeir is an Uruguayan-Lebanese painter based in Spain. Throughout his extensive career, he has created works across various mediums and explored a wide range of themes. His art has traveled around the globe, with each piece reflecting a deep internal process rooted in meditation.

Its created using astro.js. react and tailwind