---

---

<footer class="flex justify-between bg-slate-800 text-white p-4">
  <p>© 2024, Bruno Sfeir</p>
  <nav class="flex gap-2 font-inter">
    <div>Instagram</div>
    <div>Twitter</div>
    <div>Github</div>
  </nav>
</footer>
