---
import Layout from "src/layouts/Layout.astro";
---

<section class="bg-gray-900 h-screen">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center">
      <h1
        class="mb-4 text-xl tracking-tight font-extrabold lg:text-5xl text-white"
      >
        404
      </h1>
      <p
        class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white"
      >
        Something's missing.
      </p>
      <p class="mb-4 text-cl font-light text-gray-500 dark:text-gray-400">
        Sorry, we can't find that page.
      </p>

      <button
        class="px-4 py-2 text-sm font-semibold text-white bg-blue-500 rounded-lg hover:bg-blue-600"
      >
        <a href="/">Back to Home</a>
      </button>
    </div>
  </div>
</section>
