---
import Composicion2023 from "../../../src/assets/Azul_Prusia/Composicion_2023.jpg";
import Image from "astro/components/Image.astro";
---

<div class="flex flex-col gap-10 mt-10 justify-center items-center wrapper">
  <div class="grid grid-cols-2 justify-center items-center">
    <p class="w-4/5 mx-auto">
      <span class="text-3xl font-semibold">Bruno Sfeir</span> is a painter from uruguay
      who has been painting for over 20 years. He has a unique style that is a mix
      of abstract and realism. His work is inspired by nature, music, and the human
      experience. Bruno's paintings are vibrant and full of life, with bold colors
      and dynamic compositions.
    </p>

    <Image src={Composicion2023} alt="Bruno Sfeir" class="md:w-[650px]" />
  </div>
</div>
