---
import Composicion2023 from "../../../src/assets/Azul_Prusia/Composicion_2023.jpg";
import Image from "astro/components/Image.astro";
---

<div class="flex flex-col gap-10 mt-10 justify-center items-center wrapper">
  <div class="grid grid-cols-2 justify-center items-center">
    <p class="w-4/5 mx-auto">
      <span class="text-3xl font-semibold">Bruno Sfeir</span> is an Uruguayan-Lebanese
      painter based in Spain. Throughout his extensive career, he has created works
      across various mediums and explored a wide range of themes. His art has traveled
      around the globe, with each piece reflecting a deep internal process rooted
      in meditation.
    </p>

    <Image src={Composicion2023} alt="Bruno Sfeir" class="md:w-[650px]" />
  </div>
</div>
