---
import Separator from "../shared/Separator.astro";
---

<div class="text-xl text-center p-20 quote text-slate-800">
  <Separator />
  <p>
    "He and his creations -children, animal, birds- all presented within a
    baroque framework that seems at first sight reassuringly familiar, are in
    fact gleefully disturbing Lords of Misrule"
  </p>

  <p>— Edward Lucie-Smith -</p>
</div>
