---
import Separator from "../shared/Separator.astro";

interface Props {
  text: string;
  name: string;
  position: string;
}

const { text, name, position } = Astro.props;
---

<div class="text-xl text-center quote w-5/6 md:w-3/6 text-slate-800 md:py-10">
  <Separator />

  <p>{text}</p>

  <p class="text-base mt-4">
    {name}
    — <span class="italic">{position}</span> —
  </p>
</div>
