---
// Import the required components and type definitions
import Layout from "../../layouts/Layout.astro";
import PaintingItem from "./PaintingItem.astro"; // Ensure this is the correct path
import { type Painting } from "../../../types/index";

type Props = {
  title: string;
  paintingsList: Painting[];
  description: string;
};

const { title, paintingsList, description } = Astro.props;
---

<Layout title={title}>
  <div class="p-4">
    <div class="flex flex-col items-center">
      <h1 class="text-3xl font-semibold text-center">{title}</h1>
      <p class="md:text-lg text-center px-1 mb-6">{description}</p>
    </div>

    <!-- Using CSS grid to create a justified layout -->
    <div class="columns-1 md:columns-2 lg:columns-3 gap-4 space-y-4">
      {paintingsList.map((painting) => <PaintingItem item={painting} />)}
    </div>
  </div>
</Layout>
