---
import Footer from "../components/shared/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import "@fontsource/cormorant-garamond";
import "@fontsource/zeyada";

import NavBar from "../components/shared/NavBar";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <script type="text/partytown">
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "313656380019403");
      fbq("track", "PageView");
    </script>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <noscript
      ><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=313656380019403&ev=PageView&noscript=1"
      /></noscript
    >
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="flex flex-col h-screen font-serif">
    <NavBar client:load />
    <main class="flex-1 mx-auto py-4">
      <slot />
    </main>

    <Footer />

    <style is:global>
      .wrapper {
        max-width: 90%;
        margin: 0 auto;
      }

      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
        font-size: 1.2rem;
      }
      body {
        font-family: "Cormorant Garamond", serif;
      }
      html {
        background: #f0f0f0;
        background-size: 224px;
        scroll-behavior: smooth;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
